@model IEnumerable<EShopMVC.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["EditMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["EditMessage"]
    </div>
}

@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["DeleteMessage"]
    </div>
}



<p>
    <a asp-action="Create" class="btn btn-primary">Create New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    

    .text-right {
        text-align: right;
        display: flex;
    }

    .alert-success {
        background-color: lightgreen;
    }

    .alert-info {
        background-color: lightblue;
    }

    .alert-danger {
        background-color: lightcoral;
    }

</style>

